body {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 25px;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;
    font-style: normal;
    background: #EBEBEB;
}

html.popup-open body {
    overflow: hidden !important;
}

#mc-container {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 430px;
    width: 100%;
    height: auto;
    background: #EBEBEB;
}

.title-part {
    display: block;
    width: clac(100% - 35px);
    height: 80px;
    padding: 0 17.5px;
    margin: 0;
}

.title-part .title {
    width: 100%;
    text-align: left;
    line-height: 80px;
    font-size: 26px;
    font-weight: bold;
}

.content-part {
    display: block;
    position: relative;
    width: clac(100% - 35px);
    height: auto;
    padding: 0 17.5px 25px 17.5px;
    margin: 0;
}

.content-part .card-container {
    width: clac(100% - 40px);
    height: auto;
    display: block;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 9px;
    padding: 0 20px;
}

.content-part .card-container .contain {
    width: 100%;
    height: auto;
    padding: 21px 0;
    margin: 0;
}

.content-part .card-container .contain .card-title {
    font-size: 22px;
    line-height: 25px;
    display: block;
}

.content-part .card-container .contain .card-number,
.content-part .card-container .contain .card-holder {
    font-size: 17px;
    line-height: 25px;
    display: block;
    text-align: right;
    color: #8A8A8E;
}

#popup {
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: .1s;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow: auto;
    box-sizing: border-box;
    background-color: rgba(50, 50, 50, .88);
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-tap-highlight-color: transparent;
    display: none;
}

#popup.open {
    opacity: 1;
    display: flex;
    align-items: flex-start;
}

#popup .popup-outline {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    padding: 0;
    max-width: 430px;
    width: 430px;
    background: transparent;
    flex-grow: 1;
}

#popup .popup-outer {
    background: #fff;
    border-radius: 22px 22px 0 0;
    margin: 40px 0 0 0;
    overflow: hidden;
}

#popup #card-info-content {
    padding: 0 17.5px;
}

#card-info-content .popup-header {
    font-size: 24px;
    line-height: 80px;
    font-weight: bold;
    display: block;
}

#card-info-content img {
    margin: 0 auto;
    padding: 0;
    display: block;
    margin-bottom: 80px;
    margin-top: 20px;
}

#popup button {
    background: none;
    border: 0;
    box-sizing: content-box;
    color: inherit;
    font: inherit;
    line-height: inherit;
    overflow: visible;
    vertical-align: inherit;
    text-align: left;
}

#popup #popup-close {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 44px;
    width: 44px;
    position: absolute;
    top: 56px;
    right: 7.5px;
    cursor: pointer;
    pointer-events: auto;
}

#popup .popup-close-svg {
    background: #ebebed;
    border-radius: 50%;
    color: #6e6e73;
    display: flex;
    align-items: center;
    height: 36px;
    width: 36px;
    outline: none;
    position: relative;
}

#popup .popup-svgicon {
    fill: currentColor;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 20px;
    width: 20px;
}